@import url("./header.css");
@import url("./movies.css");

:root {
  --color-black-light: #121212;
  --color-black: #0f0f0f;
  --color-white: #f2f2f2;
  --color-gray-light: #282828;
  --color-gray: gray;
}

body {
  position: relative;
  margin: 0;
  padding: 0rem 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
}

.error__message {
  font-size: 1.5rem;
  display: block;
}
.hidden {
  display: none;
}
